@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Orbitron', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	justify-items: center;
	width: 100vw;
	height: 100vh;
}
  
#app {
  font-family: 'Orbitron', arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	width: 80vw;
	max-width: 350px;
  height: 65vh;
  background-color: #6785a3;
  border: 1px solid #222222;
  border-radius: 20px;
}
  
#result {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4.7vmin;
  padding-right: 10px;
  width: 85%;
  height: 20%;
  border: 1px solid #555555;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}
  
#result:hover {
	border: 1px solid #000000;
}
  
#keyboard {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-around;
  width: 85%;
  height: 60%;
  box-sizing: border-box;
}
  
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 15%;
  border: 1px solid #6785a3;
  background-color: #d3d3d3;
  border-radius: 7px;
  font-weight: bold;
  font-size: 12pt;
	cursor: pointer;
	user-select: none;
}
  
.key:hover {
  border: 1px solid #d3d3d3;
}
  
.dot {
  font-size: 18pt;
}
  
.symbol {
  background-color: rgb(180, 190, 200);
}

.symbol:hover {
  border: 1px solid rgb(180, 190, 200);
}
  
.equal {
  background-color: #222222;
  color: #ffffff;
}
  
.equal:hover {
  border: 1px solid #222222;
}
  
.clear {
  background-color: rgb(250, 50, 120);
}
  
.clear:hover {
  border: 1px solid rgb(250, 50, 120);
}