@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, .3);
}

#conteudo{
    position: absolute;

    width: 380px;
    height: 420px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, .7);

    border: 1px solid black;
    border-radius: 7px;
}

#resultado{
    position: relative;

    width: 325px;
    height: 80px;
    left: 50%;
    line-height: 80px;

    background-color: white;

    margin: 15px 0;
    border: 1px solid #888;
    border-radius: 7px;
    padding-right: 10px;

    transform: translateX(-50%);

    text-align: right;
    font-size: 24pt;
}

#resultado:hover{
    border: 1px solid rgb(60, 60, 60);
}

#tabelaTeclas{
    position: relative;

    left: 50%;

    transform: translateX(-50%);

    border-collapse: separate;
    border-spacing: 15px;
}

.botao{
    width: 70px;
    height: 40px;

    text-align: center;
    font-weight: bold;

    cursor: pointer;

    color: rgba(0, 0, 0, .9);
    background-color: rgba(0, 0, 0, .2);
    
    border: 1px solid white;
    border-radius: 7px;
}

.botao:hover{
    border: 1px solid rgba(0, 0, 0, .1);
}

.col4{
    background-color: rgba(0, 0, 0, .4);
}

#igual{
    border: 1px solid white;

    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(228, 213, 213);
}

#igual:hover{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#ponto{
    font-size: 18pt;
}

#c{
    background-color: rgba(255, 0, 0, 0.4);
    
    border: 1px solid rgba(255, 255, 255, .7);
}

#c:hover{
    border: 1px solid rgba(255, 0, 0, 0.1);
}

#ce{
    position: absolute;
    
    right: 15px;

    line-height: 40px;
}