/* DEFINIÇÃO DO CONJUNTO DE CARACTERES E DA FONTE */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/* ESTILIZAÇÃO GERAL */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Orbitron', sans-serif;
}

/* ESTILIZAÇÃO DO CORPO DA PÁGINA */
body{
    background: rgba(0, 0, 0, .3);
}

/* ESTILIZAÇÃO DA DIV DE CONTEÚDO (DIV MÃE) */
div#conteudo{
    position: absolute;

    width: 380px;
    height: 420px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, .7);

    border: 1px solid black;
    border-radius: 7px;
}

/* ESTILIZAÇÃO DA DIV DE RESULTADO (PAINEL DE CÁLCULO) */
div#res{
    position: relative;

    width: 325px;
    height: 80px;
    left: 50%;
    line-height: 80px;

    background: white;

    margin: 15px 0;
    border: 1px solid #888;
    border-radius: 7px;
    padding-right: 10px;

    transform: translateX(-50%);

    text-align: right;
    font-size: 24pt;
}
div#res:hover{
    border: 1px solid rgb(60, 60, 60);
}

/* ESTILIZAÇÃO DA DIV DE TECLAS (OPERADORES, PONTO, NÚMEROS, IGUALDADE E CLEAR (C e CE)) */
div#teclas{
    position: relative;
}

/* ESTILIZAÇÃO DA TABELA DE TECLAS */
table#tabelaTeclas{
    position: relative;

    left: 50%;

    transform: translateX(-50%);

    border-collapse: separate;
    border-spacing: 15px;
}
td{
    width: 70px;
    height: 40px;

    text-align: center;
    font-weight: bold;

    cursor: pointer;

    color: rgba(0, 0, 0, .9);
    background: rgba(0, 0, 0, .2);
    
    border: 1px solid white;
    border-radius: 7px;
}
td:hover{
    border: 1px solid rgba(0, 0, 0, .1);
}
td#igual{
    border: 1px solid white;

    background: rgba(0, 0, 0, 0.9);
    color: rgb(228, 213, 213);
}
td#igual:hover{
    border: 1px solid rgba(0, 0, 0, 0.8);
}
td.tdVazio{
    visibility: hidden;
}
div#ponto{
    font-size: 18pt;
}
.destaque{
    background: rgba(0, 0, 0, .4);
}
.limpar{
    background: rgba(255, 0, 0, 0.4);
    
    border: 1px solid white;
}
.limpar:hover{
    border: 1px solid rgba(255, 0, 0, 0.1);
}